body{
	background-color: seagreen;

}
table{
	width: 100%;
	border: 1px solid lightgray;
	border-collapse: collapse;
	font-family: arial, verdana, sans-serif;
	caption-side: top;
	margin: auto;
}
th,td{
	border: 1px solid lightgray;
	padding: 5px;
}
th{
	padding: 15px;
}
td{
	padding: 5px;
	text-align: justify;
}
table tr:nth-child(odd){
	background-color: lightgray;
}
table tr:nth-child(even){
	background-color: lightgreen;
}
tr th{
	background-color: black;
	color: white;
}
table tr:hover{
    background-color: green;
	color: white;
}