body{
font-family: Arial, sans-serif;
text-align: center;
padding: 20px;
background: lightblue
}
#mostrar{
padding: 10px 20px;
font-size: 16px;
background-color: blue;
border: none;
border-radius: 5px;
color: white;
cursor: pointer;
transition: all 0.3s ease;
}
.galeria{
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
}
.imagen img{
width: 200px;
height: auto;
border-radius: 10px;
transition: opacity 0.3s ease;
}
#mostrar:hover ~ .galeria .imagen img{
opacity: 0;
pointer-events: none;
}
#mostrar:hover{
background-color: white;
transform: scale(1.1);
}