.contenedor{
	position: relative;
	background: gray;
	height: 100px;
}
.caja1{
	position: relative;
	background: orange;
	height: 50px;
	left: 10px;
}
.caja2{
	position: absolute;
	background: blue;
	height: 150px;
	width: 150px;
	left: 50px;
	top: 25px;
	z-index: -1;
}
.caja3{
	position: absolute;
	background: pink;
	height: 125px;
	width: 125px;
	right: 75px;
	top: 40px;
	z-index: 2;
}
.caja4{
	position: absolute;
	background: green;
	height: 75px;
	width: 75px;
	right: 55px;
	top: 55px;
	z-index: 3;
}
.caja5{
	position: fixed;
	width: 100px;
	right: 0px;
	bottom: 0px;
	border: 2px solid red;
	z-index: 4;
}